body{
    width: 100%;
    height: 100%;
    background: rgb(113, 99, 186, 255);
    font-family: Arial, Helvetica, sans-serif;
 }
 .sign{
  margin: auto;
  width: 45%;
  background-color: gray;
 }
 input{
    width: 100%;
    height: 30px;
    border: 1px solid ;
    border-radius: 2px;
    outline: none;
    font-size: 1rem;
    padding: 5px 15px;
    margin: 10px;
}
label{
    font-size: 18px;
    text-transform: capitalize;
    padding: 40px 0px 0px 10px;
}

.wrap{
    max-width: 400px;
    min-height: 400px;
    margin: 50px 0px 0px 50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

.login p{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

input{
    width: 300px;
    outline: none;
    border-radius: 5px;
}




button{
    position: relative;
    border: none;
    cursor: pointer;
    background-color: rgb(113, 99, 186, 255);
    padding: 10px 20px ;
    text-transform: capitalize;
    border-radius: 10px;
    transition: .3s ease;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    margin: 20px 0px;
}
button:hover{
    background-color: transparent;
    border: 1px solid rgb(113, 99, 186, 255);
    color: rgb(113, 99, 186, 255);;
}